export PROJECT_DIR="$PWD/.project"
export PROJECT_DEV="$PWD/bin/dev"
export PROJECT_BUILD_DIR="$PWD/.build"
export PROJECT_BUILD_NAME="dotfiles"
export PROJECT_DOCKER_HOME="/home/user/.dotfiles"
export AQUA_ROOT_DIR="${PROJECT_DIR}/aqua"
export AQUA_ROOT_BIN="${AQUA_ROOT_DIR}/bin"
export MISE_DATA_DIR="${PROJECT_DIR}/mise/data"
export MISE_CACHE_DIR="${PROJECT_DIR}/mise/cache"
export MISE_GLOBAL_CONFIG_FILE="${PROJECT_DIR}/mise/mise.toml"
export MISE_TMP_DIR="${PROJECT_DIR}/mise/tmp"
export PATH="${PROJECT_DEV}:${AQUA_ROOT_BIN}:$PATH"
