export PROJECT_DIR="$PWD/.project"
export PROJECT_DEV="$PWD/bin/dev"
export PROJECT_BUILD_DIR="$PWD/dist"
export PROJECT_BUILD_NAME="dotfiles"
export PROJECT_DOCKER_HOME="/home/user/.dotfiles"
export AQUA_ROOT_DIR="${PROJECT_DIR}/aqua"
export AQUA_ROOT_BIN="${AQUA_ROOT_DIR}/bin"
export PATH="${PROJECT_DEV}:${AQUA_ROOT_BIN}:$PATH"
