name: Build Dotfiles CLI

on:
  workflow_call:
    inputs:
      out:
        description: Directory where the binary should be placed
        type: string
        default: dist
      name:
        description: Name of the binary (NOT with arch metadata)
        default: dotfiles
        type: string
      upload:
        description: Whether or not to upload the build artifacts
        default: false
        type: boolean

env:
  OUT_DIR: ${{ inputs.out }}
  BINARY_NAME: ${{ inputs.name }}

jobs:
  build:
    name: Build binaries
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # Linux builds
          - goos: linux
            goarch: amd64
          - goos: linux
            goarch: arm64
          - goos: linux
            goarch: arm
            goarm: 7

          # macOS builds
          - goos: darwin
            goarch: amd64
          - goos: darwin
            goarch: arm64
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          cache: false
          go-version-file: "go.mod"

      - name: Build binary
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          GOARM: ${{ matrix.goarm }}
        run: |
          mkdir -p "${OUT_DIR}"
          BINARY="${BINARY_NAME}-${GOOS}-${GOARCH}"

          if [ "${GOARM}" != "" ]; then
            BINARY="${BINARY}-v${GOARM}"
          fi

          go build -ldflags="-s -w" -o "${OUT_DIR}/${BINARY}"

          echo "Built: ${OUT_DIR}/${BINARY}"

      - name: Upload artifacts
        if: ${{ inputs.upload == true }}
        uses: actions/upload-artifact@v4
        with:
          name: dotfiles-${{ matrix.goos }}-${{ matrix.goarch }}${{ matrix.goarm && format('-v{0}', matrix.goarm) || '' }}
          path: ${{ env.OUT_DIR }}/*
          retention-days: 1
