name: Dofiles CI

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  # Builds the binaries on each of the supported architectures
  # to ensure that it builds for all the supported platforms
  # correctly and we did not introduce a breaking change.
  invoke_builder:
    uses: ./.github/workflows/_build.yml
    secrets: inherit
    with:
      out: ${{ vars.OUT_DIR }}
      name: ${{ vars.BINARY_NAME }}
      upload: true

  # Takes the uploaded build artifacts and generates a
  # GitHub release so that the binary can be used with
  # the official installation method.
  invoke_releaser:
    needs:
      - invoke_builder
    uses: ./.github/workflows/_release.yml
    secrets: inherit
    with:
      out: ${{ vars.OUT_DIR }}
      name: ${{ vars.BINARY_NAME }}
