name: Dofiles CI

on:
  push:
    branches:
      # GitHub Actions requires at least one branch defined without the ! character
      # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-including-and-excluding-branches-and-tags
      - "**"
      - "!main"
  pull_request:
    branches:
      - "main"

permissions:
  contents: write

jobs:
  invoke_builder:
    name: Builder
    uses: ./.github/workflows/_build.yml
    secrets: inherit
    with:
      upload: false
